<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noodp">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Contest</title>
    <!-- Favicon -->
    <link href="../static/assets/ph-theme-img/favicon.ico" th:href="@{/assets/ph-theme-img/favicon.ico}"
          rel="shortcut icon"/>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin-ext"
          rel="stylesheet">
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="../static/css/navbar.css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css"
          rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="../static/css/contest-css/plugins.css"
          th:href="@{/css/contest-css/plugins.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/contest-css/main.css"
          th:href="@{/css/contest-css/main.css}">


    <!--VOTE FORM-->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"
            th:src="@{https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"
            th:src="@{https://code.jquery.com/jquery-1.11.1.min.js}"></script>
</head>
<body>
<!-- PRELOADER -->
<div class="preloader">
    <div class="spinner"></div>
</div>
<!-- Header section  -->
<header th:replace="/fragments/navbar.html :: navbar"></header>
<div class="clearfix"></div>

<!-- CONTENT AREA -->
<div class="content-area"
     th:style="'background-image: url('+${contest.getPhoto().getContent()}+'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;'">
    <!-- CONTENT AREA INNER -->
    <div class="content-area-inner">
        <!-- INTRO -->
        <section id="intro">
            <div class="container-mid card-blur">
                <!-- ANIMATION CONTAINER -->
                <div class="animation-container animation-fade-right" data-animation-delay="0">
                    <h1 style="text-shadow: 2px 2px 8px black"
                        th:text="${contest.getTitle}">Contest Title</h1>
                    <h3 style="text-shadow: 2px 2px 8px black"
                        th:text="${contest.getCategory().getCategory()}">Contest Category</h3>
                    <h3 style="text-shadow: 2px 2px 8px black"
                        th:text="${Phase}">Phase</h3>
                    <p id="endDate" th:value="${endDate}" class="countdown"></p>
                    <!-- Display the countdown timer in an element -->
                    <p style="text-shadow: 2px 2px 8px black" id="demo"></p>

                    <div th:if="${authenticatedUser.getRole().getRole().equals('Organizer')}">
                        <div th:if="${contest.getEndPhaseI().isAfter(now)}">
                            <a th:href="@{/contests/{contestId}/invite_jury(contestId=${contest.getId()})}">
                                <button style="text-shadow: 2px 2px 8px black" class="btn btn-outline-dark mt-auto">
                                    Invite Jury
                                </button>
                            </a>
                            <a th:if="${!contest.isOpen()}"
                               th:href="@{/contests/{contestId}/invite_contestants(contestId=${contest.getId()})}">
                                <button style="text-shadow: 2px 2px 8px black" class="btn btn-outline-dark mt-auto">
                                    Invite Contestants
                                </button>
                            </a>
                        </div>
                        <!--For Presentational Purposes-->
                        <a th:if="${contest.getEndPhaseI().isBefore(now)}"
                           th:href="@{/contests/{contestId}/finish(contestId=${contest.getId()})}">
                            <button style="text-shadow: 2px 2px 8px black" class="btn btn-outline-dark mt-auto">
                                Finish
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- WORK -->
        <section id="work">
            <h3 style="text-shadow: 2px 2px 8px black; text-align: center"
                class="headline scroll-animated">Photo Submissions</h3>
            <!-- SHOWCASE -->
            <div class="showcase">
                <!-- ITEM -->
                <div class="item scroll-animated" th:each="submission_c:${submissions}">
                    <!-- LIGHTBOX LINK -->
                    <a href="#" th:attr="data-featherlight= '#item-'+${submission_c.id}+'-lightbox'">
                        <!-- INFO -->
                        <div class="info">
                            <!-- CONTAINER MID -->
                            <div class="container-mid">
                                <img src="../static/assets/ph-theme-img/about.jpg"
                                     th:src="${submission_c.getAuthor().getAvatar().getContent()}"
                                     style="height: 50px; width: 50px; border-radius: 50%;"
                                     alt="Author profile picture"/>
                                <h4 th:text="${submission_c.getAuthor().getUsername()}">Author</h4>
                                <h5 th:text="${submission_c.getTitle()}">Title</h5>
                            </div>
                            <!-- /CONTAINER MID -->
                        </div>
                        <!-- /INFO -->
                        <div class="background-image"
                             style="background-image: url(../static/assets/contest/img/work/item-1.jpg)"
                             th:style="'background-image: url('+${submission_c.getPhoto().getContent()}+')'">
                        </div>
                    </a>
                    <!-- /LIGHTBOX LINK -->
                    <!-- LIGHTBOX -->
                    <div th:id="'item-'+${submission_c.id}+'-lightbox'" class="work-lightbox">
                        <img class="img-responsive" src="../static/assets/contest/img/work/item-1.jpg"
                             th:src="${submission_c.getPhoto().getContent()}" alt="image">
                        <img src="../static/assets/ph-theme-img/about.jpg"
                             th:src="${submission_c.getAuthor().getAvatar().getContent()}"
                             style="height: 50px; width: 50px; border-radius: 50%;" alt="Author profile picture"/>
                        <h4 th:text="${submission_c.getAuthor().getUsername()}">Author</h4>
                        <h5 class="subline" th:text="${submission_c.getTitle()}">Title</h5>
                        <p th:text="${submission_c.getStory()}">Story</p>
                        <!--VOTE FORM-->
                        <div th:if="${contest.getEndPhaseII().isAfter(now)&&contest.getEndPhaseI().isBefore(now)}">
                            <div th:if="${!voted.containsKey(submission_c.getId())}" class="card">
                                <div class="rating-container">
                                    <div class="rating-text">
                                        <p>Rate this photo?</p>
                                    </div>
                                    <div class="rating">
                                        <form th:object="${vote}" class="rating-form-2"
                                              th:action="@{/contests/{contestId}/submissions/{submissionId}/vote
                                          (contestId=${contest.getId()}, submissionId=${submission_c.getId()})}"
                                              method="post">
                                            <label for="Very Weak">
                                                <input th:field="*{points}" type="radio"
                                                       name="rating"
                                                       class="Very Weak"
                                                       id="Very Weak"
                                                       th:text="1"
                                                       th:value="1" checked/>
                                            </label>

                                            <label for="Weak">
                                                <input th:field="*{points}"
                                                       type="radio"
                                                       name="rating"
                                                       class="Weak"
                                                       id="Weak"
                                                       th:text="2"
                                                       th:value="2"/>
                                            </label>

                                            <label for="Below Average">
                                                <input th:field="*{points}"
                                                       type="radio" name="rating"
                                                       class="Below Average"
                                                       id="Below Average"
                                                       th:text="3"
                                                       th:value="3"/>
                                            </label>

                                            <label for="Average">
                                                <input th:field="*{points}"
                                                       type="radio"
                                                       name="rating"
                                                       class="Average"
                                                       id="Average"
                                                       th:value="4"
                                                       th:text="4"/>
                                            </label>

                                            <label for="Above Average">
                                                <input th:field="*{points}"
                                                       type="radio"
                                                       name="rating"
                                                       class="Above Average"
                                                       id="Above Average"
                                                       th:value="5"
                                                       th:text="5"/>
                                            </label>
                                            <label for="Good">
                                                <input th:field="*{points}"
                                                       type="radio"
                                                       name="rating"
                                                       class="Good"
                                                       id="Good"
                                                       th:value="6"
                                                       th:text="6"/>
                                            </label>
                                            <label for="Very Good">
                                                <input th:field="*{points}"
                                                       type="radio" name="rating"
                                                       class="Very Good"
                                                       id="Very Good"
                                                       th:value="7"
                                                       th:text="7"/>
                                            </label>
                                            <label for="Excellent">
                                                <input th:field="*{points}"
                                                       type="radio"
                                                       name="rating"
                                                       class="Excellent"
                                                       id="Excellent"
                                                       th:text="8"
                                                       th:value="8"/>
                                            </label>
                                            <label for="Amazing">
                                                <input th:field="*{points}"
                                                       type="radio"
                                                       name="rating"
                                                       class="Amazing"
                                                       id="Amazing"
                                                       th:text="9"
                                                       th:value="9"/>
                                            </label>
                                            <label for="Extraordinary">
                                                <input th:field="*{points}"
                                                       type="radio"
                                                       name="rating"
                                                       class="Extraordinary"
                                                       id="Extraordinary"
                                                       th:value="10"
                                                       th:text="10"/>
                                            </label>
                                            <br>

                                            <div class="form-check form-check-inline">
                                                <input type="checkbox"
                                                       name="Wrong category"
                                                       id="exampleOpen"
                                                       th:field="*{wrongCategory}"
                                                       th:value="true"
                                                       th:text="'Wrong Category!(Author will get 0 points)'">
                                            </div>

                                            <textarea type="text"
                                                      th:field="*{content}"
                                                      rows="4"
                                                      class="form-control"
                                                      placeholder="Comment what you see!">
                                            </textarea>

                                            <input type="submit" value="Vote" class="button-9">
                                            <br>
                                        </form>
                                        <button class="button-9">
                                            <a href="#"
                                               th:href="@{/contests/{contestId}/submissions/{submissionId}/delete(contestId=${contest.getId()}, submissionId=${submission_c.getId()})}">Delete</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${voted.containsKey(submission_c.getId())}" class="card">
                                <p> Your Vote:</p>
                                <p th:text="'Pionts: '+ ${voted.get(submission_c.getId()).getPoints()}"></p>
                                <p th:text="'Comment: '+ ${voted.get(submission_c.getId()).getContent()}"></p>
                            </div>
                        </div>

                        <div th:if="${endDate.isBefore(now)}">
                            <div th:id="'item-'+${submission.id}+'-lightbox'" class="work-lightbox">
                                <img class="img-responsive" src="../static/assets/contest/img/work/item-1.jpg"
                                     th:src="${submission.getPhoto().getContent()}" alt="image">
                                <h4 th:text="${submission.getAuthor().getUsername()}">Author</h4>
                                <h5 class="subline" th:text="${submission.getTitle()}">Title</h5>
                                <p th:text="${submission.getStory()}">Story</p>
                                <h4 th:text="'Results:'">Results:</h4>
                                <h5 th:text="'Score: '+${submission.getScore()}">Score</h5>
                                <p th:text="'Comments:'">Comments</p>
                                <div th:each="comment:${submission.getComments()}">
                                    <img src="../static/assets/ph-theme-img/about.jpg"
                                         th:src="${comment.getAuthor().getAvatar().getContent()}"
                                         style="height: 50px; width: 50px; border-radius: 50%;"
                                         alt="Author profile picture"/>
                                    <h5 th:text="${comment.getAuthor().getUsername()}">Author</h5>
                                    <p th:text="${comment.getContent()}">Comment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Search model -->
<div th:replace="/fragments/search.html :: search"></div>

<!--Vote script-->
<!--<script>-->
<!--    const btn = document.querySelector("button");-->
<!--    const post = document.querySelector(".post");-->
<!--    const widget = document.querySelector(".star-widget");-->
<!--    const editBtn = document.querySelector(".edit");-->
<!--    btn.onclick = () => {-->
<!--        widget.style.display = "none";-->
<!--        post.style.display = "block";-->
<!--        return false;-->
<!--        // editBtn.onclick = () => {-->
<!--        //     widget.style.display = "block";-->
<!--        //     post.style.display = "none";-->
<!--        //     return false;-->
<!--        // }-->
<!--    }-->
<!--</script>-->
<!--/vote script-->
<script>
    // Set the date we're counting down to
    var countDownDate = new Date(document.getElementById("endDate").getAttribute("value")).getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count-down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "FINISHED";
        }
    }, 1000);
</script>
<!-- JAVASCRIPTS -->
<script type="text/javascript" th:src="@{/js/contest-js/plugins.js}"
        src="../static/js/contest-js/plugins.js"></script>
<script type="text/javascript" th:src="@{/js/contest-js/main.js}"
        src="../static/js/contest-js/main.js"></script>

<script src="../static/js/ph-theme-js/jquery-3.2.1.min.js" th:src="@{/js/ph-theme-js/jquery-3.2.1.min.js}"></script>
<script src="../static/js/ph-theme-js/bootstrap.min.js" th:src="@{/js/ph-theme-js/bootstrap.min.js}"></script>
<script src="../static/js/ph-theme-js/jquery.slicknav.min.js"
        th:src="@{/js/ph-theme-js/jquery.slicknav.min.js}"></script>
<script src="../static/js/ph-theme-js/owl.carousel.min.js" th:src="@{/js/ph-theme-js/owl.carousel.min.js}"></script>
<script src="../static/js/ph-theme-js/jquery.magnific-popup.min.js"
        th:src="@{/js/ph-theme-js/jquery.magnific-popup.min.js}"></script>
<script src="../static/js/ph-theme-js/circle-progress.min.js"
        th:src="@{/js/ph-theme-js/circle-progress.min.js}"></script>
<script src="../static/js/ph-theme-js/mixitup.min.js" th:src="@{/js/ph-theme-js/mixitup.min.js}"></script>
<script src="../static/js/ph-theme-js/instafeed.min.js" th:src="@{/js/ph-theme-js/instafeed.min.js}"></script>
<script src="../static/js/ph-theme-js/masonry.pkgd.min.js" th:src="@{/js/ph-theme-js/masonry.pkgd.min.js}"></script>
<script src="../static/js/ph-theme-js/main.js" th:src="@{/js/ph-theme-js/main.js}"></script>
</body>
</html>