<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Invite Jury</title>
    <!-- plugins:content-css -->
    <link href="../static/css/auth-theme-css/materialdesignicons.min.css" th:href="@{/css/auth-theme-css/materialdesignicons.min.css}" rel="stylesheet">
    <link href="../static/css/auth-theme-css/vendor.bundle.base.css" th:href="@{/css/auth-theme-css/vendor.bundle.base.css}" rel="stylesheet">
    <!--Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Layout styles -->
    <link href="../static/css/auth-theme-css/style.css" th:href="@{/css/auth-theme-css/style.css}" rel="stylesheet">
    <!-- End layout styles -->
    <link href="../static/assets/ph-theme-img/favicon.ico" th:href="@{/assets/ph-theme-img/favicon.ico}" rel="shortcut icon"/>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth invite">
                <div class="mx-auto">
                    <form action="#" th:action="@{/contests/{contestId}/invite_contestants(contestId=${contest.getId()})}"
                          th:object="${dto}" method="post">
                        <div class="card">

                            <div class="card-body">
                                <h4 class="card-title">Invite Contestants</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th><div class="form-check form-check-muted m-0"></div></th>
                                            <th> Full Name</th>
                                            <th> Email</th>
                                            <th> Rank</th>
                                            <th> Points</th>
                                            <th> Role</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}">
                                            <td>
                                                <div class="form-check form-check-muted m-0">
                                                    <input type="checkbox" class="form-check-input" name="emails"
                                                           th:field="*{emails}" th:value="${user.getEmail()}">
                                                </div>
                                            </td>
                                            <td>
                                                <img src="../static/assets/ph-theme-img/about.jpg"
                                                     th:src="${user.getAvatar().getContent()}" alt="image"/>
                                                <span class="pl-2"
                                                      th:text="${user.getFirstName()+' '+user.getLastName()}">Henry Klein</span>
                                            </td>
                                            <td th:text="${user.getEmail()}"> klein123@email.com</td>
                                            <td th:text="${user.getRank().getRank()}"> Master</td>
                                            <td th:text="${user.getPoints()}"> 1000</td>
                                            <td th:text="${user.getRole().getRole()}"> User</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-primary btn-icon-text">
                                <i class="fa fa-paper-plane"></i> Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container-scroller -->
<!-- plugins:contest-js -->
<script src="../static/js/auth-theme-js/vendor.bundle.base.js" th:src="@{/js/auth-theme-js/vendor.bundle.base.js}"></script>
<!-- inject:contest-js -->
<script src="../static/js/auth-theme-js/off-canvas.js" th:src="@{/js/auth-theme-js/off-canvas.js}"></script>
<script src="../static/js/auth-theme-js/hoverable-collapse.js" th:src="@{/js/auth-theme-js/hoverable-collapse.js}"></script>
<script src="../static/js/auth-theme-js/misc.js" th:src="@{/js/auth-theme-js/misc.js}"></script>
<script src="../static/js/auth-theme-js/settings.js" th:src="@{/js/auth-theme-js/settings.js}"></script>
<script src="../static/js/auth-theme-js/todolist.js" th:src="@{/js/auth-theme-js/todolist.js}"></script>
</body>
</html>