<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" prefix="og">
<head>
    <meta charset="UTF-8">
    <title>Finished Contest</title>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin-ext"
          rel="stylesheet">
    <!-- Favicon -->
    <link href="../static/assets/ph-theme-img/favicon.ico"
          th:href="@{/assets/ph-theme-img/favicon.ico}" rel="shortcut icon"/>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="../static/css/navbar.css"
          th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/contest-css/plugins.css"
          th:href="@{/css/contest-css/plugins.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/contest-css/main.css"
          th:href="@{/css/contest-css/main.css}">
</head>
<body>
<!-- PRELOADER -->
<div class="preloader">
    <div class="spinner"></div>
</div>
<!-- Header section  -->
<header th:replace="/fragments/navbar.html :: navbar"></header>
<div class="clearfix"></div>

<!-- CONTENT AREA -->
<div class="content-area"
     th:style="'background-image: url('+${contest.getPhoto().getContent()}+'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;'">
    <!-- CONTENT AREA INNER -->
    <div class="content-area-inner">
        <!-- INTRO -->
        <section id="intro">
            <!-- CONTAINER MID -->
            <div class="container-mid card-blur">
                <!-- ANIMATION CONTAINER -->
                <div class="animation-container animation-fade-right" data-animation-delay="0">
                    <h1 style="text-shadow: 2px 2px 8px black"
                        th:text="${contest.getTitle}">Contest Title</h1>
                    <h3 style="text-shadow: 2px 2px 8px black"
                        th:text="${contest.getCategory().getCategory()}">Contest Category</h3>
                    <h3 style="text-shadow: 2px 2px 8px black"
                        th:text="${Phase}">Phase</h3>
                    <p id="endDate" th:value="${endDate}" class="countdown"></p>
                    <!-- Display the countdown timer in an element -->
                    <p style="text-shadow: 2px 2px 8px black" id="demo"></p>

                </div>
            </div>
        </section>
        <!-- WORK -->
        <section id="work">
            <h3 style="text-shadow: 2px 2px 8px black; text-align: center"
                class="headline scroll-animated">Photo Submissions</h3>
            <!-- SHOWCASE -->
            <div class="showcase">
                <!-- ITEM -->
                <div class="item scroll-animated" th:each="submission2:${submissions}">
                    <!-- LIGHTBOX LINK -->
                    <a href="#" th:attr="data-featherlight= '#item-'+${submission2.id}+'-lightbox'">
                        <!-- INFO -->
                        <div class="info">
                            <!-- CONTAINER MID -->
                            <div class="container-mid">
                                <img src="../static/assets/ph-theme-img/about.jpg"
                                     th:src="${submission2.getAuthor().getAvatar().getContent()}"
                                     style="height: 50px; width: 50px; border-radius: 50%;"
                                     alt="Author profile picture"/>
                                <h5 th:text="${submission2.getAuthor().getUsername()}">Author</h5>
                                <p th:text="${submission2.getTitle()}">Title</p>
                            </div>
                            <!-- /CONTAINER MID -->
                        </div>
                        <!-- /INFO -->
                        <div class="background-image"
                             style="background-image: url(../static/assets/contest/img/work/item-1.jpg)"
                             th:style="'background-image: url('+${submission2.getPhoto().getContent()}+')'">
                        </div>
                    </a>
                    <!-- /LIGHTBOX LINK -->
                    <!-- LIGHTBOX -->
                    <div th:id="'item-'+${submission2.id}+'-lightbox'" class="work-lightbox">
                        <img class="img-responsive" src="../static/assets/contest/img/work/item-1.jpg"
                             th:src="${submission2.getPhoto().getContent()}" alt="image">
                        <h3 th:text="${submission2.getAuthor().getUsername()}">Author</h3>
                        <p class="subline" th:text="${submission2.getTitle()}">Title</p>
                        <p th:text="${submission2.getStory()}">Story</p>
                        <p th:text="'Results:'">Results:</p>
                        <p th:text="'Score: '+${submission2.getScore()}">Score</p>
                        <p th:text="'Comments:'">Comments</p>
                        <div th:each="comment:${submission2.getComments()}">
                            <hr class="solid"><br>
                            <img src="../static/assets/ph-theme-img/about.jpg"
                                 th:src="${comment.getAuthor().getAvatar().getContent()}"
                                 style="height: 50px; width: 50px; border-radius: 50%; margin-bottom: 0"
                                 alt="Author profile picture"/>
                            <br>
                            <a th:text="${comment.getAuthor().getUsername()}"
                               th:href="@{/users/{id}(id=${comment.getAuthor().getId()})}"></a>
                            <p th:text="${comment.getContent()}">Comment</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Search model -->
<div th:replace="/fragments/search.html :: search"></div>

<!-- JAVASCRIPTS -->
<script type="text/javascript" th:src="@{/js/contest-js/plugins.js}"
        src="../static/js/contest-js/plugins.js"></script>
<script type="text/javascript" th:src="@{/js/contest-js/main.js}"
        src="../static/js/contest-js/main.js"></script>

<script src="../static/js/ph-theme-js/jquery-3.2.1.min.js"
        th:src="@{/js/ph-theme-js/jquery-3.2.1.min.js}"></script>
<script src="../static/js/ph-theme-js/bootstrap.min.js"
        th:src="@{/js/ph-theme-js/bootstrap.min.js}"></script>
<script src="../static/js/ph-theme-js/jquery.slicknav.min.js"
        th:src="@{/js/ph-theme-js/jquery.slicknav.min.js}"></script>
<script src="../static/js/ph-theme-js/owl.carousel.min.js"
        th:src="@{/js/ph-theme-js/owl.carousel.min.js}"></script>
<script src="../static/js/ph-theme-js/jquery.magnific-popup.min.js"
        th:src="@{/js/ph-theme-js/jquery.magnific-popup.min.js}"></script>
<script src="../static/js/ph-theme-js/circle-progress.min.js"
        th:src="@{/js/ph-theme-js/circle-progress.min.js}"></script>
<script src="../static/js/ph-theme-js/mixitup.min.js"
        th:src="@{/js/ph-theme-js/mixitup.min.js}"></script>
<script src="../static/js/ph-theme-js/instafeed.min.js"
        th:src="@{/js/ph-theme-js/instafeed.min.js}"></script>
<script src="../static/js/ph-theme-js/masonry.pkgd.min.js"
        th:src="@{/js/ph-theme-js/masonry.pkgd.min.js}"></script>
<script src="../static/js/ph-theme-js/main.js"
        th:src="@{/js/ph-theme-js/main.js}"></script>
</body>
</html>