<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <title>Create Contest</title>
    <!-- plugins:css -->
    <link href="../static/css/auth-theme-css/materialdesignicons.min.css"
          th:href="@{/css/auth-theme-css/materialdesignicons.min.css}" rel="stylesheet">
    <link href="../static/css/auth-theme-css/vendor.bundle.base.css"
          th:href="@{/css/auth-theme-css/vendor.bundle.base.css}" rel="stylesheet">
    <!-- Layout styles -->
<!--    <link rel="stylesheet" href="../static/css/ph-theme-css/bootstrap.min.css" th:href="@{/css/ph-theme-css/bootstrap.min.css}"/>-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/css/auth-theme-css/style.css" th:href="@{/css/auth-theme-css/style.css}" rel="stylesheet">
    <!-- End layout styles -->
    <link href="../static/assets/ph-theme-img/favicon.ico" th:href="@{/assets/ph-theme-img/favicon.ico}" rel="shortcut icon">
    <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet">

</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth new-contest">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-left mb-3">Create New Contest</h3>
                        <form action="#" th:action="@{/contests/new}" th:object="${contest}" method="post"
                              enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="Title"></label>
                                <input type="text" th:field="*{title}" class="form-control" id="Title"
                                       placeholder="Title">
                                <label style="color: #c69500" th:errors="*{title}"></label>
                            </div>
                            <div class="form-group">
                                <select class="form-select form-select-lg form-control" th:field="*{categoryId}">
                                    <!--<label for="Category">Category *</label>-->
                                    <option selected="" th:value="1"> Choose Category</option>
                                    <option th:each="category : ${categories}" th:value="${category.getId()}"
                                            th:text="${category.getCategory()}">
                                        Contest Category
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <fieldset class="mb-6">
                                    <legend class="col-form-label col-sm-12 pt-0">Choose Contest Type</legend>
                                    <div class="col-sm-10">
                                        <div class="form-check ">
                                            <input th:field="*{isOpen}" class="form-check-input" type="radio"
                                                   name="inlineRadioOptions" id="exampleOpen" value="Open"
                                                   placeholder="Type" th:text="Open" th:value="true">
                                            <label class="form-check-label" th:errors="*{isOpen}" for="exampleOpen">Open<i
                                                    class="input-helper"></i></label>
                                        </div>
                                        <div class="form-check ">
                                            <input th:field="*{isOpen}" class="form-check-input" type="radio"
                                                   name="inlineRadioOptions" id="exampleInvitational"
                                                   value="Invitational" placeholder="Type" th:text="Invitational"
                                                   th:value="false">
                                            <label class="form-check-label" th:errors="*{isOpen}"
                                                   for="exampleInvitational">Invitational<i
                                                    class="input-helper"></i></label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <div class="form-control">
                                    <div id="date1" data-target-input="nearest">
                                        <input type="text" class="bg-transparent border-0 datetimepicker-input"
                                               placeholder="End Day of Phase I" th:field="*{endPhaseIDate}"
                                               data-target="#date1" data-toggle="datetimepicker">
                                        <label class="my-error" th:errors="*{endPhaseIDate}" for="date1"></label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <select class="form-select form-select-lg form-control" th:field="*{phaseIIDuration}">
                                    <option selected="" th:value="24"> Phase 2 duration in hours</option>
                                    <option th:each="i : ${#numbers.sequence(1, 24)}" th:value="${i}" th:text="${i}">
                                        Duration
                                    </option>
                                </select>
                            </div>
                            <label>Cover Photo*</label>
                            <div>
                                <label for="PhotoURL"></label>
                                <input type="text" th:field="*{urlCoverPhoto}" class="form-control" id="PhotoURL"
                                       placeholder="PhotoURL">
                                <label style="color: #c69500" th:errors="*{urlCoverPhoto}"></label>
                            </div>
                            <label>or</label>
                            <div class="form-group personal box">
                                <input type="file" th:field="*{photo}" name="img[]" class="file-upload-default">
                                <label style="color: #c69500" th:errors="*{photo}"></label>
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control file-upload-info-contest" disabled=""
                                           placeholder="Upload Image">
                                    <span class="input-group-append">
                                        <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                    </span>
                                </div>
                            </div>
                            <br>
                            <label>or</label>
                            <button class="btn btn-primary" type="button" data-toggle="modal"
                                    th:attr="data-target='#defaultCoverPhotoModal'"
                                    data-target="#defaultCoverPhotoModal">Choose
                                Default
                            </button>
                            <br><br>
                            <!--Default Gallery Modal-->
                            <div class="portfolio-modal modal fade" th:id="'defaultCoverPhotoModal'"
                                 id="defaultCoverPhotoModal" tabindex="-1" role="dialog"
                                 aria-labelledby="#portfolioModal0Label" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body text-center">
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-8">
                                                        <!-- Content -->
                                                        <ul class="row box">
                                                            <li th:each="cover : ${defaultCovers}">
                                                                <input type="checkbox" th:type="'checkbox'"
                                                                       th:field="*{existingUrlCoverPhoto}"
                                                                       th:value="${cover.getContent()}"
                                                                       th:id="'cb'+ ${cover.getId()}" id="cb1">
                                                                <label class="mylabel" th:class="'mylabel'"
                                                                       th:for="'cb'+ ${cover.getId()}" for="cb1">
                                                                    <img src="https://picsum.photos/seed/1/100"
                                                                         th:src="${cover.getContent()}"
                                                                         alt="Default Cover Photo">
                                                                </label>
                                                            </li>
                                                        </ul>
                                                        <!-- Content -->
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary" type="button" data-dismiss="modal"
                                                        aria-label="Close">&nbsp;<i class="fa fa-check"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Default Gallery Modal-->
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block enter-btn">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"></script>
<script th:inline="javascript">
    $("input:checkbox").on('click', function () {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if ($box.is(":checked")) {
            // the name of the box is retrieved using the .attr() method
            // as it is assumed and expected to be immutable
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            // the checked state of the group/box on the other hand will change
            // and the current value is retrieved using .prop() method
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });
</script>
<script src="../static/js/auth-theme-js/vendor.bundle.base.js"
        th:src="@{/js/auth-theme-js/vendor.bundle.base.js}"></script>
<script src="../static/js/auth-theme-js/file-upload.js" th:src="@{/js/auth-theme-js/file-upload.js}"></script>
<script src="../static/js/auth-theme-js/off-canvas.js" th:src="@{/js/auth-theme-js/off-canvas.js}"></script>
<script src="../static/js/auth-theme-js/hoverable-collapse.js"
        th:src="@{/js/auth-theme-js/hoverable-collapse.js}"></script>
<script src="../static/lib/tempusdominus/js/moment-timezone.min.js"
        th:src="@{/lib/tempusdominus/js/moment-timezone.min.js}"></script>
<script src="../static/js/auth-theme-js/misc.js" th:src="@{/js/auth-theme-js/misc.js}"></script>
<script src="../static/lib/tempusdominus/js/moment.min.js" th:src="@{/lib/tempusdominus/js/moment.min.js}"></script>
<script src="../static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"
        th:src="@{/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>
<script src="../static/js/auth-theme-js/settings.js" th:src="@{/js/auth-theme-js/settings.js}"></script>
<script src="../static/js/auth-theme-js/todolist.js" th:src="@{/js/auth-theme-js/todolist.js}"></script>

<script src="../static/js/ph-theme-js/jquery-3.2.1.min.js"
        th:src="@{/js/ph-theme-js/jquery-3.2.1.min.js}"></script>
<script src="../static/js/ph-theme-js/bootstrap.min.js"
        th:src="@{/js/ph-theme-js/bootstrap.min.js}"></script>
<script src="../static/js/ph-theme-js/jquery.slicknav.min.js"
        th:src="@{/js/ph-theme-js/jquery.slicknav.min.js}"></script>
<script src="../static/js/ph-theme-js/owl.carousel.min.js"
        th:src="@{/js/ph-theme-js/owl.carousel.min.js}"></script>
<script src="../static/js/ph-theme-js/jquery.magnific-popup.min.js"
        th:src="@{/js/ph-theme-js/jquery.magnific-popup.min.js}"></script>
<script src="../static/js/ph-theme-js/circle-progress.min.js"
        th:src="@{/js/ph-theme-js/circle-progress.min.js}"></script>
<script src="../static/js/ph-theme-js/mixitup.min.js"
        th:src="@{/js/ph-theme-js/mixitup.min.js}"></script>
<script src="../static/js/ph-theme-js/instafeed.min.js"
        th:src="@{/js/ph-theme-js/instafeed.min.js}"></script>
<script src="../static/js/ph-theme-js/masonry.pkgd.min.js"
        th:src="@{/js/ph-theme-js/masonry.pkgd.min.js}"></script>
<script src="../static/js/ph-theme-js/main.js"
        th:src="@{/js/ph-theme-js/main.js}"></script>

<script>
    (function () {
        var ws = new WebSocket('ws://' + window.location.host + '/jb-server-page?reloadServiceClientId=279');
        ws.onmessage = function (msg) {
            if (msg.data === 'reload') {
                window.location.reload();
            }
            if (msg.data.startsWith('update-css ')) {
                var messageId = msg.data.substring(11);
                var links = document.getElementsByTagName('link');
                for (var i = 0; i < links.length; i++) {
                    var link = links[i];
                    if (link.rel !== 'stylesheet') continue;
                    var clonedLink = link.cloneNode(true);
                    var newHref = link.href.replace(/(&|\?)jbUpdateLinksId=\d+/, "$1jbUpdateLinksId=" + messageId);
                    if (newHref !== link.href) {
                        clonedLink.href = newHref;
                    } else {
                        var indexOfQuest = newHref.indexOf('?');
                        if (indexOfQuest >= 0) {
                            // to support ?foo#hash
                            clonedLink.href = newHref.substring(0, indexOfQuest + 1) + 'jbUpdateLinksId=' + messageId + '&' +
                                newHref.substring(indexOfQuest + 1);
                        } else {
                            clonedLink.href += '?' + 'jbUpdateLinksId=' + messageId;
                        }
                    }
                    link.replaceWith(clonedLink);
                }
            }
        };
    })();
</script>
</body>
</html>
