<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contest</title>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin-ext"
          rel="stylesheet">
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="../static/css/navbar.css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/contest-css/plugins.css"
          th:href="@{/css/contest-css/plugins.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/contest-css/main.css"
          th:href="@{/css/contest-css/main.css}">
    <!-- Favicon -->
    <link href="../static/assets/ph-theme-img/favicon.ico" rel="shortcut icon"
          th:href="@{/assets/ph-theme-img/favicon.ico}"/>
</head>
<body>
<!-- PRELOADER -->
<div class="preloader">
    <div class="spinner"></div>
</div>
<!-- Header section  -->
<header th:replace="/fragments/navbar.html :: navbar"></header>
<div class="clearfix"></div>

<!-- CONTENT AREA -->
<div class="content-area"
     th:style="'background-image: url('+${contest.getPhoto().getContent()}+'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;'">
    <!-- CONTENT AREA INNER -->
    <div class="content-area-inner">
        <!-- INTRO -->
        <section id="intro">
            <!-- CONTAINER MID -->
            <div class="container-mid card-blur">
                <!-- ANIMATION CONTAINER -->
                <div class="animation-container animation-fade-right" data-animation-delay="0">
                    <h1 style="text-shadow: 2px 2px 8px black"
                        th:text="${contest.getTitle}">Contest Title</h1>
                    <h3 style="text-shadow: 2px 2px 8px black"
                        th:text="${contest.getCategory().getCategory()}">Contest Category</h3>
                    <h3 style="text-shadow: 2px 2px 8px black"
                        th:text="${Phase}">Phase</h3>
                    <p id="endDate" th:value="${endDate}" class="countdown"></p>
                    <!-- Display the countdown timer in an element -->
                    <p style="text-shadow: 2px 2px 8px black" id="demo"></p>
                    <div th:if="${authenticatedUser.getRole().getRole().equals('User')}">
                        <div th:if="${!contest.getContestants().contains(authenticatedUser) && contest.getEndPhaseI().isAfter(now)}">
                            <h4 th:if="${!contest.getInvited().contains(authenticatedUser) && !contest.isOpen()}"
                                th:text="'You are not invited to this contest'"
                                style="text-shadow: 2px 2px 8px black"></h4>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!--IF AUTHENTICATED IS USER-->
        <div th:if="${contest.getEndPhaseI().isAfter(now)}">
        <section th:if="${(contest.getInvited().contains(authenticatedUser) || contest.isOpen()) &&
                          !contest.getContestants().contains(authenticatedUser) &&
                           authenticatedUser.getRole().getRole().equals('User')}">
            <!--            <h3 style="text-align: center" class="headline scroll-animated">Join the contest</h3>-->
            <!--USER'S PHOTO SUBMISSION-->
            <div id="work1">
                <!-- SHOWCASE -->
                <div class="container-mid card-blur">
                    <div class="showcase">
                        <!-- ITEM -->
                        <div class="item scroll-animated">
                            <!-- LIGHTBOX LINK -->
                            <a href="#" data-featherlight="#item-1-lightbox2">
                                <!-- INFO -->
                                <br><br><br>
                                <h1 style="text-shadow: 2px 2px 8px black"
                                    th:text="'Submit photo'">Submit photo</h1>
                            </a>
                            <br><br><br>
                            <!-- LIGHTBOX -->
                            <div id="item-1-lightbox2" class="work-lightbox">
                                <h2 style="text-shadow: 2px 2px 8px black; text-align: center">Photo Submission</h2>
                                <form th:action="@{/contests/{contestId}/submissions/new(contestId=${contest.getId()})}"
                                      th:object="${newSubmission}" method="post" enctype="multipart/form-data">
                                    <input type="file" name="file" th:field="*{photo}"
                                           class="form-control-file" accept="image/png, image/jpeg">
                                    <label style="color: #c69500" th:errors="*{photo}"></label>
                                    <label>Title</label><br>
                                    <input type="text" style="color: black; width: 100%" name="file"
                                           th:field="*{title}"><br>
                                    <label style="color: #c69500" th:errors="*{title}"></label>
                                    <label for="story">Story</label><br>
                                    <textarea rows="12" style="color: black; width: 100%" name="file"
                                              th:field="*{story}"
                                              id="story"></textarea><br>
                                    <label style="color: #c69500" th:errors="*{story}"></label>
                                    <label th:text="'You cannot change your submission after save'"
                                           style="color: #bd2130"></label>
                                    <button type="submit" class="button-9">Save</button>
                                </form>
                            </div>
                            <!--/LIGHTBOX-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
        <section th:if="${authenticatedUser.getRole().getRole().equals('User')}">
            <!--USER'S PHOTO SUBMISSION-->
            <div id="work" th:if="${contest.getContestants().contains(authenticatedUser)}">
                <h3 class="headline scroll-animated" style="text-shadow: 2px 2px 8px black; text-align: center">Your Photo Submission</h3>
                <!-- SHOWCASE -->
                <div class="showcase">
                    <!-- ITEM -->
                    <div class="item scroll-animated">
                        <!-- LIGHTBOX LINK -->
                        <a href="#" data-featherlight="#item-1-lightbox1">
                            <!-- INFO -->
                            <div class="info">
                                <!-- CONTAINER MID -->
                                <div class="container-mid">
                                    <img src="../static/assets/ph-theme-img/about.jpg"
                                         th:src="${submission.getAuthor().getAvatar().getContent()}"
                                         style="height: 50px; width: 50px; border-radius: 50%;"
                                         alt="Author profile picture"/>
                                    <h5 th:text="${submission.getAuthor().getUsername()}">Author</h5>
                                    <p th:text="${submission.getTitle()}">Title</p>
                                </div>
                                <!-- /CONTAINER MID -->
                            </div>
                            <!-- /INFO -->
                            <div class="background-image"
                                 style="background-image: url(../static/assets/contest/img/work/item-1.jpg)"
                                 th:style="'background-image: url('+${submission.getPhoto().getContent()}+')'"></div>
                        </a>
                        <!-- LIGHTBOX -->
                        <div id="item-1-lightbox1" class="work-lightbox">
                            <img class="img-responsive" src="../static/assets/contest/img/work/item-1.jpg"
                                 th:src="${submission.getPhoto().getContent()}" alt="image">
                            <span>
                                <img src="../static/assets/ph-theme-img/about.jpg"
                                     th:src="${submission.getAuthor().getAvatar().getContent()}"
                                     style="height: 50px; width: 50px; border-radius: 50%; margin-bottom: 0"
                                     alt="Author profile picture"/>
                            </span>
                            <h3 th:text="${submission.getAuthor().getUsername()}">Author</h3>
                            <p class="subline" th:text="${submission.getTitle()}">Title</p>
                            <p th:text="${submission.getStory()}">Story</p>
                            <div th:if="${endDate.isBefore(now)}">
                                <h2 th:text="'Your score is '+${submission.getScore()}">Score</h2>
                                <div th:each="comment:${submission.getComments()}">
                                    <h3 th:text="${comment.getContent()}">Comment</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /LIGHTBOX -->
                    </div>
                </div>
            </div>
            <!--/USER'S PHOTOSUBMISSION-->
            <!--ALL PHOTO SUBMISSIONS-->

<!--            <div id="work2" th:if="${endDate.isBefore(now)}">-->
<!--                <h3 class="headline scroll-animated">All Photo Submissions</h3>-->
<!--                &lt;!&ndash; SHOWCASE &ndash;&gt;-->
<!--                <div class="showcase">-->
<!--                    &lt;!&ndash; ITEM &ndash;&gt;-->
<!--                    <div th:each="submission1 : ${submissions}">-->
<!--                        <div class="item scroll-animated">-->
<!--                            &lt;!&ndash; LIGHTBOX LINK &ndash;&gt;-->
<!--                            <a href="#" th:attr="data-featherlight= '#item-'+${submission1.id}+'-lightbox'">-->
<!--                                &lt;!&ndash; INFO &ndash;&gt;-->
<!--                                <div class="info">-->
<!--                                    &lt;!&ndash; CONTAINER MID &ndash;&gt;-->
<!--                                    <div class="container">-->
<!--                                        <h5 th:text="${submission1.getAuthor().getUsername()}">Author</h5>-->
<!--                                        <p th:text="${submission1.getTitle()}">Title</p>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; /CONTAINER MID &ndash;&gt;-->
<!--                                </div>-->
<!--                                &lt;!&ndash; /INFO &ndash;&gt;-->
<!--                                <div class="background-image"-->
<!--                                     style="background-image: url(../static/assets/contest/img/work/item-1.jpg)"-->
<!--                                     th:style="'background-image: url('+${submission1.getPhoto().getContent()}+')'">-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            &lt;!&ndash; /LIGHTBOX LINK &ndash;&gt;-->
<!--                            &lt;!&ndash; LIGHTBOX &ndash;&gt;-->
<!--                            <div th:id="'item-'+${submission1.id}+'-lightbox'" class="work-lightbox">-->
<!--                                <img class="img-responsive" src="../static/assets/contest/img/work/item-1.jpg"-->
<!--                                     th:src="${submission1.getPhoto().getContent()}" alt="image">-->
<!--                                <h3 th:text="${submission1.getAuthor().getUsername()}">Author</h3>-->
<!--                                <p class="subline" th:text="${submission1.getTitle()}">Title</p>-->
<!--                                <p th:text="${submission1.getStory()}">Story</p>-->
<!--                                <h3 th:text="'Results:'">Results:</h3>-->
<!--                                <h2 th:text="'Score: '+${submission1.getScore()}">Score</h2>-->
<!--                                <h3 th:text="'Comments:'">Comments</h3>-->
<!--                                <div th:each="comment:${submission1.getComments()}">-->
<!--                                    <h3 th:text="${comment.getContent()}">Comment</h3>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; /LIGHTBOX &ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <!--/ALL PHOTO SUBMISSIONS-->
        </section>
    </div>
</div>

<!-- Search model -->
<div th:replace="/fragments/search.html :: search"></div>

<!-- JAVASCRIPTS -->
<!-- Display the countdown timer in an element -->
<script>
    // Set the date we're counting down to
    var countDownDate = new Date(document.getElementById("endDate").getAttribute("value")).getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count-down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "FINISHED";
        }
    }, 1000);
</script>



<script type="text/javascript" th:src="@{/js/contest-js/plugins.js}"
        src="../static/js/contest-js/plugins.js"></script>
<script type="text/javascript" th:src="@{/js/contest-js/main.js}"
        src="../static/js/contest-js/main.js"></script>

<script src="../static/js/ph-theme-js/jquery-3.2.1.min.js"
        th:src="@{/js/ph-theme-js/jquery-3.2.1.min.js}"></script>
<script src="../static/js/ph-theme-js/bootstrap.min.js"
        th:src="@{/js/ph-theme-js/bootstrap.min.js}"></script>
<script src="../static/js/ph-theme-js/jquery.slicknav.min.js"
        th:src="@{/js/ph-theme-js/jquery.slicknav.min.js}"></script>
<script src="../static/js/ph-theme-js/owl.carousel.min.js"
        th:src="@{/js/ph-theme-js/owl.carousel.min.js}"></script>
<script src="../static/js/ph-theme-js/jquery.magnific-popup.min.js"
        th:src="@{/js/ph-theme-js/jquery.magnific-popup.min.js}"></script>
<script src="../static/js/ph-theme-js/circle-progress.min.js"
        th:src="@{/js/ph-theme-js/circle-progress.min.js}"></script>
<script src="../static/js/ph-theme-js/mixitup.min.js"
        th:src="@{/js/ph-theme-js/mixitup.min.js}"></script>
<script src="../static/js/ph-theme-js/instafeed.min.js"
        th:src="@{/js/ph-theme-js/instafeed.min.js}"></script>
<script src="../static/js/ph-theme-js/masonry.pkgd.min.js"
        th:src="@{/js/ph-theme-js/masonry.pkgd.min.js}"></script>
<script src="../static/js/ph-theme-js/main.js"
        th:src="@{/js/ph-theme-js/main.js}"></script>
</body>
</html>