<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Not Found</title>
    <!-- plugins:content-css -->
    <link href="../static/css/auth-theme-css/materialdesignicons.min.css" th:href="@{/css/auth-theme-css/materialdesignicons.min.css}" rel="stylesheet">
    <link href="../static/css/auth-theme-css/vendor.bundle.base.css" th:href="@{/css/auth-theme-css/vendor.bundle.base.css}" rel="stylesheet">
    <!-- Layout styles -->
    <link href="../static/css/auth-theme-css/style.css" th:href="@{/css/auth-theme-css/style.css}" rel="stylesheet">
    <!-- End layout styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/assets/ph-theme-img/favicon.ico" th:href="@{/assets/ph-theme-img/favicon.ico}" rel="shortcut icon"/>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center text-center error-page bg-primary">
            <div class="row flex-grow">
                <div class="col-lg-7 mx-auto text-white">
                    <div class="row align-items-center d-flex flex-row">
                        <div class="col-lg-6 text-lg-right pr-lg-4">
                            <h1 class="display-1 mb-0"><i class="fa fa-frown-o" aria-hidden="true"></i></h1>
                        </div>
                        <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                            <h2>SORRY!</h2>
                            <h3 class="font-weight-light" th:text="${error}">The page you’re looking for was not found.</h3>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 text-center mt-xl-2">
                            <a class="text-white font-weight-medium" href="index.html" th:href="@{/}">Back to home</a>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 mt-xl-2">
                            <p class="text-white font-weight-medium text-center">Copyright &copy; 2022 All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<script src="../static/js/auth-theme-js/vendor.bundle.base.js" th:src="@{/js/auth-theme-js/vendor.bundle.base.js}"></script>
<!-- inject:contest-js -->
<script src="../static/js/auth-theme-js/off-canvas.js" th:src="@{/js/auth-theme-js/off-canvas.js}"></script>
<script src="../static/js/auth-theme-js/hoverable-collapse.js" th:src="@{/js/auth-theme-js/hoverable-collapse.js}"></script>
<script src="../static/js/auth-theme-js/misc.js" th:src="@{/js/auth-theme-js/misc.js}"></script>
<script src="../static/js/auth-theme-js/settings.js" th:src="@{/js/auth-theme-js/settings.js}"></script>
<script src="../static/js/auth-theme-js/todolist.js" th:src="@{/js/auth-theme-js/todolist.js}"></script>
<!-- endinject -->
</body>
</html>