<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forgot Password</title>

    <link href="../static/css/auth-theme-css/materialdesignicons.min.css" th:href="@{/css/auth-theme-css/materialdesignicons.min.css}" rel="stylesheet">
    <link href="../static/css/auth-theme-css/vendor.bundle.base.css" th:href="@{/css/auth-theme-css/vendor.bundle.base.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/css/auth-theme-css/style.css" th:href="@{/css/auth-theme-css/style.css}" rel="stylesheet">
    <link href="../static/assets/ph-theme-img/favicon.ico" th:href="@{/assets/ph-theme-img/favicon.ico}" rel="shortcut icon"/>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-left mb-3">Forgot Password</h3>
                        <form action="#" th:action="@{/users/forgotten_password}" method="post">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control p_input">
                                <div th:if="${message != null}">
                                    <p class="text-warning">[[${message}]]</p>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block enter-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- contest-js -->
<script src="../static/js/auth-theme-js/vendor.bundle.base.js" th:src="@{/js/auth-theme-js/vendor.bundle.base.js}"></script>
<script src="../static/js/auth-theme-js/off-canvas.js" th:src="@{/js/auth-theme-js/off-canvas.js}"></script>
<script src="../static/js/auth-theme-js/hoverable-collapse.js" th:src="@{/js/auth-theme-js/hoverable-collapse.js}"></script>
<script src="../static/js/auth-theme-js/misc.js" th:src="@{/js/auth-theme-js/misc.js}"></script>
<script src="../static/js/auth-theme-js/settings.js" th:src="@{/js/auth-theme-js/settings.js}"></script>
<script src="../static/js/auth-theme-js/todolist.js" th:src="@{/js/auth-theme-js/todolist.js}"></script>
</body>
</html>