<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Photo Contest</title>
	<meta charset="UTF-8">
	<meta name="description" content="Photographer html template">
	<meta name="keywords" content="photographer, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Favicon -->
	<link href="../static/assets/ph-theme-img/favicon.ico" th:href="@{/assets/ph-theme-img/favicon.ico}" rel="shortcut icon"/>
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
	<!-- Icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="../static/css/ph-theme-css/bootstrap.min.css" th:href="@{/css/ph-theme-css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../static/css/ph-theme-css/magnific-popup.css" th:href="@{/css/ph-theme-css/magnific-popup.css}"/>
	<link rel="stylesheet" href="../static/css/ph-theme-css/slicknav.min.css" th:href="@{/css/ph-theme-css/slicknav.min.css}"/>
	<link rel="stylesheet" href="../static/css/ph-theme-css/owl.carousel.min.css" th:href="@{/css/ph-theme-css/owl.carousel.min.css}"/>
	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="../static/css/ph-theme-css/style.css" th:href="@{/css/ph-theme-css/style.css}"/>

	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<!-- Header section  -->
	<header th:replace="/fragments/navbar.html :: navbar"></header>
	<div class="clearfix"></div>
	<!-- Hero section  -->
	<div class="hero-section ">
		<div class="hero-slider owl-carousel">
			<div th:each="submission : ${firstRow}">
				<div class="hero-item portfolio-item set-bg" data-setbg="../static/assets/ph-theme-img/pic.jpg"
					 th:attr="data-setbg=${submission.getPhoto()}">
					<a href="index.html" class="hero-link" th:href="@{/contests/{id}(id=${submission.getContestId()})}" >
						<h2 th:text="${submission.getTitle()}">Take a look at my Photo</h2>
					</a>
				</div>
			</div>
		</div>
		<div class="hero-slider owl-carousel">
			<div th:each="submission : ${secondRow}">
				<div class="hero-item portfolio-item set-bg" data-setbg="../static/assets/ph-theme-img/pic.jpg"
					 th:attr="data-setbg=${submission.getPhoto()}">
					<a href="index.html" class="hero-link" th:href="@{/contests/{id}(id=${submission.getContestId()})}">
						<h2 th:text="${submission.getTitle()}">Take a look at my Photo</h2>
					</a>
				</div>
			</div>
		</div>
		<div class="hero-slider owl-carousel">
			<div th:each="submission : ${thirdRow}">
				<div class="hero-item portfolio-item set-bg" data-setbg="../static/assets/ph-theme-img/pic.jpg"
					 th:attr="data-setbg=${submission.getPhoto()}">
					<a href="index.html" class="hero-link" th:href="@{/contests/{id}(id=${submission.getContestId()})}">
						<h2 th:text="${submission.getTitle()}">Take a look at my Photo</h2>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Hero section end  -->
	
<!--	&lt;!&ndash; Intro section   &ndash;&gt;-->
<!--	<section class="intro-section">-->
<!--		<div class="intro-warp">-->
<!--			<div class="container-fluid">-->
<!--				<div class="row">-->
<!--					<div class="col-xl-6 col-lg-7 p-0">-->
<!--						<div class="intro-text">-->
<!--							<h2>My name is Sam. I’m a photographer</h2>-->
<!--							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis commodo viverra maecenas. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>-->
<!--							<a href="#" class="sp-link">Take a look @my portfolio</a>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="col-xl-6 col-lg-5 p-0">-->
<!--						<div class="skill-warp">-->
<!--							<div class="single-progress-item">-->
<!--								<div class="progress-bar-style" data-progress="75"></div>-->
<!--								<p>Nature</p>-->
<!--							</div>-->
<!--							<div class="single-progress-item">-->
<!--								<div class="progress-bar-style" data-progress="100"></div>-->
<!--								<p>Passion</p>-->
<!--							</div>-->
<!--							<div class="single-progress-item">-->
<!--								<div class="progress-bar-style" data-progress="90"></div>-->
<!--								<p>Portraits</p>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
	<!-- Search model -->
	<div th:replace="/fragments/search.html :: search"></div>

	<!--====== Javascripts & Jquery ======-->
	<script src="../static/js/ph-theme-js/jquery-3.2.1.min.js" th:src="@{/js/ph-theme-js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/ph-theme-js/bootstrap.min.js" th:src="@{/js/ph-theme-js/bootstrap.min.js}"></script>
	<script src="../static/js/ph-theme-js/jquery.slicknav.min.js" th:src="@{/js/ph-theme-js/jquery.slicknav.min.js}"></script>
	<script src="../static/js/ph-theme-js/owl.carousel.min.js" th:src="@{/js/ph-theme-js/owl.carousel.min.js}"></script>
	<script src="../static/js/ph-theme-js/jquery.magnific-popup.min.js" th:src="@{/js/ph-theme-js/jquery.magnific-popup.min.js}"></script>
	<script src="../static/js/ph-theme-js/circle-progress.min.js" th:src="@{/js/ph-theme-js/circle-progress.min.js}"></script>
	<script src="../static/js/ph-theme-js/mixitup.min.js" th:src="@{/js/ph-theme-js/mixitup.min.js}"></script>
	<script src="../static/js/ph-theme-js/instafeed.min.js" th:src="@{/js/ph-theme-js/instafeed.min.js}"></script>
	<script src="../static/js/ph-theme-js/masonry.pkgd.min.js" th:src="@{/js/ph-theme-js/masonry.pkgd.min.js}"></script>
	<script src="../static/js/ph-theme-js/main.js" th:src="@{/js/ph-theme-js/main.js}"></script>
	</body>
</html>
