<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${user.username}"> Profile </title>
	<meta charset="UTF-8">
	<meta name="description" content="Photographer html template">
	<meta name="keywords" content="photographer, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Favicon -->
	<link href="../static/assets/ph-theme-img/favicon.ico" th:href="@{/assets/ph-theme-img/favicon.ico}" rel="shortcut icon"/>
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
	<!-- Icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="../static/css/ph-theme-css/bootstrap.min.css" th:href="@{/css/ph-theme-css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../static/css/ph-theme-css/magnific-popup.css" th:href="@{/css/ph-theme-css/magnific-popup.css}"/>
	<link rel="stylesheet" href="../static/css/ph-theme-css/slicknav.min.css" th:href="@{/css/ph-theme-css/slicknav.min.css}"/>
	<link rel="stylesheet" href="../static/css/ph-theme-css/owl.carousel.min.css" th:href="@{/css/ph-theme-css/owl.carousel.min.css}"/>
	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="../static/css/ph-theme-css/style.css" th:href="@{/css/ph-theme-css/style.css}"/>

	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<style>
	.portfolio-modal .modal-dialog {
		margin: 1rem;
		max-width: 100vw;
	}
	.portfolio-modal .modal-content {
		padding-top: 6rem;
		padding-bottom: 6rem;
		text-align: center;
	}
	.portfolio-modal .modal-content h2, .portfolio-modal .modal-content .h2 {
		font-size: 3rem;
		line-height: 3rem;
	}
	.portfolio-modal .modal-content p.item-intro {
		font-style: italic;
		margin-bottom: 2rem;
		font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	}
	.portfolio-modal .modal-content p {
		margin-bottom: 2rem;
	}
	.portfolio-modal .modal-content ul.list-inline {
		margin-bottom: 2rem;
	}
	.portfolio-modal .modal-content img {
		margin-bottom: 2rem;
	}
	.portfolio-modal .close-modal {
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		width: 3rem;
		height: 3rem;
		cursor: pointer;
		background-color: transparent;
	}
	.portfolio-modal .close-modal:hover {
		opacity: 0.3;
	}
</style>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<!-- Header section  -->
	<header th:replace="/fragments/navbar.html :: navbar"></header>
	<div class="clearfix"></div>
	<br/><br/>
	<!-- About section  -->
	<section class="about-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 p-0">
					<div class="hero-item portfolio-item set-bg" data-setbg="img/portfolio/2.jpg"
						 th:attr="data-setbg=${user.avatar}" >
					</div>
				</div>
				<div class="col-lg-6 p-0">
					<div class="about-text">
						<h2 th:text="${user.firstName + ' ' + user.lastName + ' aka ' + user.username}" >Sam Smith</h2>
						<h4 th:text="${user.role}" >Role</h4>
						<h4 th:text="${user.rank}" >Rank</h4>
						<h4 th:text="${'Points: ' + user.points}">Points: 2345</h4>
						<a href="#" th:if="${user.role != 'Organizer' && authenticatedUser.role.role == 'Organizer'}"
						   th:href="@{/users/{id}/promote(id=${user.getId()})}" class="site-btn">Make Organizer</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Skills section  -->
	<div class="skill-section set-bg" data-setbg="../static/assets/ph-theme-img/skills-bg.jpg"
		 th:attr="data-setbg=@{/assets/ph-theme-img/skills-bg.jpg}">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-sm-6"></div>
				<div class="col-lg-3 col-sm-6">
					<div class="circle-progress text-white" data-cptitle="Top" data-cpid="id-2"
						 data-cpvalue="05" th:attr="data-cpvalue=${top}" data-cpcolor="#ffffff"></div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="circle-progress text-white" data-cptitle="Studio"  data-cpid="id-3"
						 data-cpvalue="25" th:attr="data-cptitle=${topCategory[0]}, data-cpvalue=${topCategory[1]}" data-cpcolor="#ffffff"></div>
				</div>
				<div class="col-lg-3 col-sm-6"></div>
			</div>
		</div>
	</div>
	<!-- Blog section  -->
	<section class="blog-section">
		<div class="blog-warp">
			<div class="row">
				<div class="col-lg-4 col-sm-6" th:each="submission : ${submissions}">
					<div class="blog-post">
						<img src="../static/assets/ph-theme-img/pic.jpg"
							 th:src="${submission.photo}" alt="Submission Photo">
						<h3 th:text="${submission.title}">Title</h3>
						<div class="blog-date" th:text="${submission.score + ' &#9733;'}">126 &#9733;</div>
						<div class="blog-cata">
							<span th:text="${submission.contestTitle}">Lifestyle</span>
						</div>
						<p th:text="${submission.story}">Lorem ipsum dolor sit amet, consectetur.</p>
						<div th:if="${authenticatedUser.getUsername() == submission.getAuthorUsername() && submission.getPlace() < 4}">
							<div class="fb-share-button"
								 data-href="https://res.cloudinary.com/photocontest/image/upload/v1650712419/wawccmi6squqkjtyf7iw.jpg"
								 th:attr="data-href=${submission.getPhoto()}"
								 data-layout="button" data-size="large">
								<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fres.cloudinary.com%2Fphotocontest%2Fimage%2Fupload%2Fv1650712419%2Fwawccmi6squqkjtyf7iw.jpg&amp;src=sdkpreparse"
								   class="fb-xfbml-parse-ignore">Share</a>
							</div>
						</div>
						<br>
						<button class="site-btn" data-toggle="modal" th:attr="data-target='#portfolioModal'+${submission.getId()}"
								data-target=#portfolioModal1>Read more</button>
					</div>
					<!-- Photo modal -->
					<div class="portfolio-modal modal fade" id="portfolioModal1" th:id="'portfolioModal'+${submission.getId()}" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="close-modal" data-dismiss="modal"><img th:src="@{/assets/ph-theme-img/icons/close-icon.svg}" src="../static/assets/ph-theme-img/icons/close-icon.svg" alt="Close modal" /></div>
								<div class="container">
									<div class="row justify-content-center">
										<div class="col-lg-8">
											<div class="modal-body">
												<!-- Project details-->
												<h2 class="text-uppercase" th:text="${submission.getTitle()}">Project Name</h2>
												<a th:text="${submission.getContestTitle()}" th:href="@{/contests/{id}(id=${submission.getContestId()})}" class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</a>
												<img class="img-fluid d-block mx-auto" src="../static/assets/ph-theme-img/pic.jpg" alt="..." th:src="${submission.getPhoto()}" />
												<p th:text="${submission.getStory()}">Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
												<ul class="list-inline">
													<li>
														<h4 th:if="${submission.getPlace() == 1}" style="color: #FFD700"
															th:text="${'Place #'+submission.getPlace()}">Place #1 </h4>
														<h4 th:if="${submission.getPlace() == 2}" style="color: #C0C0C0"
															th:text="${'Place #'+submission.getPlace()}">Place #2</h4>
														<h4 th:if="${submission.getPlace() == 3}" style="color: #804a00"
															th:text="${'Place #'+submission.getPlace()}">Place #3</h4>
														<h4 th:unless="${submission.getPlace() <= 3}"
															th:text="${'Place #'+submission.getPlace()}">Place #10</h4>
													</li>
													<br>
													<li>
														<h4 th:text="${'Score: '+submission.getScore()+' &#9733;'}">Score: 126 &#9733;</h4>
													</li>
													<br>
													<li>
														<h3>Jury Comments:</h3>
														<div th:each="comment : ${submission.getComments()}">
															<img src="../static/assets/ph-theme-img/about.jpg" th:src="${comment.getAuthor().getAvatar().getContent()}"
																 style="height: 50px; width: 50px; border-radius: 50%;" alt="Jury profile picture"/>
															<a href="#" th:text="${comment.getAuthor().getUsername()}" th:href="@{/users/{id}(id=${comment.getAuthor().getId()})}">
																Author Username
															</a>
															<p th:text="${comment.getContent()}">Content</p>
															<div class="border-top"><br></div>
														</div>
													</li>
												</ul>
												<button class="site-btn" data-dismiss="modal" type="button">
													<i class="fa fa-times me-1"></i>
													Close
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Photo modal -->
				</div>
			</div>
		</div>
	</section>

	<!-- Search model -->
	<div th:replace="/fragments/search.html :: search"></div>

	<!--====== Javascripts & Jquery ======-->
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous"
			src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v13.0" nonce="FLfeFcUC">
	</script>
	<script src="../static/js/ph-theme-js/jquery-3.2.1.min.js" th:src="@{/js/ph-theme-js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/ph-theme-js/bootstrap.min.js" th:src="@{/js/ph-theme-js/bootstrap.min.js}"></script>
	<script src="../static/js/ph-theme-js/jquery.slicknav.min.js" th:src="@{/js/ph-theme-js/jquery.slicknav.min.js}"></script>
	<script src="../static/js/ph-theme-js/owl.carousel.min.js" th:src="@{/js/ph-theme-js/owl.carousel.min.js}"></script>
	<script src="../static/js/ph-theme-js/jquery.magnific-popup.min.js" th:src="@{/js/ph-theme-js/jquery.magnific-popup.min.js}"></script>
	<script src="../static/js/ph-theme-js/circle-progress.min.js" th:src="@{/js/ph-theme-js/circle-progress.min.js}"></script>
	<script src="../static/js/ph-theme-js/mixitup.min.js" th:src="@{/js/ph-theme-js/mixitup.min.js}"></script>
	<script src="../static/js/ph-theme-js/instafeed.min.js" th:src="@{/js/ph-theme-js/instafeed.min.js}"></script>
	<script src="../static/js/ph-theme-js/masonry.pkgd.min.js" th:src="@{/js/ph-theme-js/masonry.pkgd.min.js}"></script>
	<script src="../static/js/ph-theme-js/main.js" th:src="@{/js/ph-theme-js/main.js}"></script>
	</body>
</html>
