<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reset Password</title>
    <!-- plugins:content-css -->
    <link href="../static/css/auth-theme-css/materialdesignicons.min.css" th:href="@{/css/auth-theme-css/materialdesignicons.min.css}" rel="stylesheet">
    <link href="../static/css/auth-theme-css/vendor.bundle.base.css" th:href="@{/css/auth-theme-css/vendor.bundle.base.css}" rel="stylesheet">
    <!--Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Layout styles -->
    <link href="../static/css/auth-theme-css/style.css" th:href="@{/css/auth-theme-css/style.css}" rel="stylesheet">
    <!-- End layout styles -->
    <link href="../static/assets/ph-theme-img/favicon.ico" th:href="@{/assets/ph-theme-img/favicon.ico}" rel="shortcut icon"/>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-left mb-3">Reset Password</h3>
                        <form action="#" th:action="@{/users/reset_password}" method="post">
                            <input type="hidden" name="token" th:value="${token}" />
                            <div class="form-group">
                                <label>Password *</label>
                                <input type="password" name="password" id="password" class="form-control p_input"
                                       placeholder="Enter your new password" required autofocus />
                                <span th:if="${errors != null}">
                                    <label th:text="${errors}" style="color: #c69500"></label>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password *</label>
                                <input type="password" class="form-control p_input" placeholder="Confirm your new password"
                                       required oninput="checkPasswordMatch(this);" />
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block enter-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<script>
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value !== $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>
<script src="../static/js/auth-theme-js/vendor.bundle.base.js" th:src="@{/js/auth-theme-js/vendor.bundle.base.js}"></script>
<!-- inject:contest-js -->
<script src="../static/js/auth-theme-js/off-canvas.js" th:src="@{/js/auth-theme-js/off-canvas.js}"></script>
<script src="../static/js/auth-theme-js/hoverable-collapse.js" th:src="@{/js/auth-theme-js/hoverable-collapse.js}"></script>
<script src="../static/js/auth-theme-js/misc.js" th:src="@{/js/auth-theme-js/misc.js}"></script>
<script src="../static/js/auth-theme-js/settings.js" th:src="@{/js/auth-theme-js/settings.js}"></script>
<script src="../static/js/auth-theme-js/todolist.js" th:src="@{/js/auth-theme-js/todolist.js}"></script>
</body>
</html>