<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contests</title>
    <meta charset="UTF-8">
    <meta name="description" content="Photographer html template">
    <meta name="keywords" content="photographer, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="../static/assets/ph-theme-img/favicon.ico" th:href="@{/assets/ph-theme-img/favicon.ico}" rel="shortcut icon"/>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/ph-theme-css/bootstrap.min.css" th:href="@{/css/ph-theme-css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/ph-theme-css/magnific-popup.css" th:href="@{/css/ph-theme-css/magnific-popup.css}"/>
    <link rel="stylesheet" href="../static/css/ph-theme-css/slicknav.min.css" th:href="@{/css/ph-theme-css/slicknav.min.css}"/>
    <link rel="stylesheet" href="../static/css/ph-theme-css/owl.carousel.min.css" th:href="@{/css/ph-theme-css/owl.carousel.min.css}"/>

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="../static/css/ph-theme-css/style.css" th:href="@{/css/ph-theme-css/style.css}"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header section  -->
<header th:replace="/fragments/navbar.html :: navbar"></header>
<div class="clearfix"></div>
<!-- Header section end  -->

<!-- Portfolio section  -->
<div class="portfolio-2-section">
    <ul class="portfolio-filter pf-2 controls">
        <li class="control" data-filter=".users">Users</li>
        <li class="control" data-filter=".contests">Contests</li>
    </ul>
    <div class="portfolio-warp">
        <div class="row portfolio-gallery m-0" >
            <div class="mix col-lg-4 col-sm-6 p-0 users" th:each="user : ${users}">
                <div class="portfolio-box">
                    <div class="hero-item portfolio-item set-bg" data-setbg="../static/assets/ph-theme-img/pic.jpg"
                         th:attr="data-setbg=${user.getAvatar().getContent()}"></div>
                    <a th:href="@{/users/{id}(id=${user.getId()})}">
                        <h6 th:text="${user.getUsername()}">Shadow in the water</h6>
                    </a>
                    <p th:text="${user.getRank().getRank()}">Nature</p>
                </div>
            </div>
            <div class="mix col-lg-4 col-sm-6 p-0 contests" th:each="contest : ${contests}">
                <div class="portfolio-box">
                    <div class="hero-item portfolio-item set-bg" data-setbg="../static/assets/ph-theme-img/pic.jpg"
                         th:attr="data-setbg=${contest.getPhoto().getContent()}"></div>
                    <a th:href="@{/contests/{id}(id=${contest.getId()})}">
                        <h6 th:text="${contest.getTitle()}">Shadow in the water</h6>
                    </a>
                    <p th:text="${contest.getCategory().getCategory()}">Nature</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search model -->
<div th:replace="/fragments/search.html :: search"></div>

<!--====== Javascripts & Jquery ======-->
<script src="../static/js/ph-theme-js/jquery-3.2.1.min.js" th:src="@{/js/ph-theme-js/jquery-3.2.1.min.js}"></script>
<script src="../static/js/ph-theme-js/bootstrap.min.js" th:src="@{/js/ph-theme-js/bootstrap.min.js}"></script>
<script src="../static/js/ph-theme-js/jquery.slicknav.min.js" th:src="@{/js/ph-theme-js/jquery.slicknav.min.js}"></script>
<script src="../static/js/ph-theme-js/owl.carousel.min.js" th:src="@{/js/ph-theme-js/owl.carousel.min.js}"></script>
<script src="../static/js/ph-theme-js/jquery.magnific-popup.min.js" th:src="@{/js/ph-theme-js/jquery.magnific-popup.min.js}"></script>
<script src="../static/js/ph-theme-js/circle-progress.min.js" th:src="@{/js/ph-theme-js/circle-progress.min.js}"></script>
<script src="../static/js/ph-theme-js/mixitup.min.js" th:src="@{/js/ph-theme-js/mixitup.min.js}"></script>
<script src="../static/js/ph-theme-js/instafeed.min.js" th:src="@{/js/ph-theme-js/instafeed.min.js}"></script>
<script src="../static/js/ph-theme-js/masonry.pkgd.min.js" th:src="@{/js/ph-theme-js/masonry.pkgd.min.js}"></script>
<script src="../static/js/ph-theme-js/main.js" th:src="@{/js/ph-theme-js/main.js}"></script>

</body>
</html>
