<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SignUp</title>
    <!-- plugins:content-css -->
    <link href="../static/css/auth-theme-css/materialdesignicons.min.css" th:href="@{/css/auth-theme-css/materialdesignicons.min.css}" rel="stylesheet">
    <link href="../static/css/auth-theme-css/vendor.bundle.base.css" th:href="@{/css/auth-theme-css/vendor.bundle.base.css}" rel="stylesheet">
    <!-- Layout styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/css/auth-theme-css/style.css" th:href="@{/css/auth-theme-css/style.css}" rel="stylesheet">
    <!-- End layout styles -->
    <link href="../static/assets/ph-theme-img/favicon.ico" th:href="@{/assets/ph-theme-img/favicon.ico}" rel="shortcut icon"/>
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Sign Up</h3>
                <form action="#" th:action="@{/auth/signup}" th:object="${register}" method="post" class="forms-sample" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="InputFirstName">First Name *</label>
                    <input type="text" th:field="*{firstName}" class="form-control" id="InputFirstName" placeholder="First Name">
                    <label style="color: #c69500" th:errors="*{firstName}"></label>
                  </div>
                  <div class="form-group">
                    <label for="InputLastName">Last Name *</label>
                    <input type="text" th:field="*{lastName}"
                           class="form-control" id="InputLastName" placeholder="Last Name">
                    <label style="color: #c69500" th:errors="*{lastName}"></label>
                  </div>
                  <div class="form-group">
                    <label for="InputFirstUsername">Username *</label>
                    <input type="text" th:field="*{username}"
                           class="form-control" id="InputFirstUsername" placeholder="Username">
                    <label style="color: #c69500" th:errors="*{username}"></label>
                  </div>
                  <div class="form-group">
                    <label for="InputEmail">Email address *</label>
                    <input type="email" th:field="*{email}"
                           class="form-control" id="InputEmail" placeholder="Email">
                    <label style="color: #c69500" th:errors="*{email}"></label>
                  </div>
                  <div class="form-group">
                    <label for="password">Password *</label>
                    <input type="password" th:field="*{password}"
                           class="form-control" name="password" id="password" placeholder="Password">
                    <label style="color: #c69500" th:errors="*{password}"></label>
                  </div>
                  <div class="form-group">
                    <label for="InputConfirmPassword">Confirm Password *</label>
                    <input type="password" th:field="*{confirmPassword}"
                           class="form-control" id="InputConfirmPassword" placeholder="Confirm Password" oninput="checkPasswordMatch(this);">
                    <label style="color: #c69500" th:errors="*{confirmPassword}"></label>
                  </div>
                  <label>Avatar *</label>
                  <div class="form-group personal box">
                    <input type="file" th:field="*{multipartAvatar}" name="img[]" class="file-upload-default">
                    <label style="color: #c69500" th:errors="*{multipartAvatar}"></label>
                    <div class="input-group col-xs-12">
                      <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                      <span class="input-group-append">
                        <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                      </span>
                    </div>
                  </div>
                  <button class="btn btn-primary" type="button" data-toggle="modal"
                          th:attr="data-target='#defaultAvatarModal'" data-target=#defaultAvatarModal>Choose Default</button>
                  <br/><br/>
                  <!--Default Gallery Modal-->
                  <div class="portfolio-modal modal fade" th:id="'defaultAvatarModal'" id="defaultAvatarModal" tabindex="-1" role="dialog"
                       aria-labelledby="#portfolioModal0Label" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                      <div class="modal-content">
                        <div class="modal-body text-center">
                          <div class="container">
                            <div class="row justify-content-center">
                              <div class="col-lg-8">
                                <!-- Content -->
                                <ul class="row box">
                                  <li th:each="avatar : ${defaultAvatars}">
                                    <input type="checkbox" th:type="'checkbox'" th:field="*{urlAvatar}" th:value="${avatar.getContent()}"
                                           th:id="'cb'+ ${avatar.getId()}" id="cb1" />
                                    <label class="mylabel" th:class="'mylabel'" th:for="'cb'+ ${avatar.getId()}" for="cb1">
                                      <img src="https://picsum.photos/seed/1/100" th:src="${avatar.getContent()}" alt="Default Avatar"/>
                                    </label>
                                  </li>
                                </ul>
                                <!-- Content -->
                              </div>
                            </div>
                            <button class="btn btn-primary" type="button" data-dismiss="modal" aria-label="Close">&nbsp;<i class="fa fa-times"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Default Gallery Modal-->
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn">Sign Up</button>
                  </div>
                  <p class="sign-up">Already have an Account?<a href="login.html" th:href="@{/auth/login}"> Login </a></p>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
<!--    <script src="https://code.jquery.com/jquery-3.5.1.min.js"-->
<!--            th:src="@{https://code.jquery.com/jquery-3.5.1.min.js}"></script>-->
<!--    <script>-->
<!--      $(document).ready(function(){-->
<!--        $('input[type="radio"]').click(function(){-->
<!--          var inputValue = $(this).attr("value");-->
<!--          var targetBox = $("." + inputValue);-->
<!--          $(".box").not(targetBox).hide();-->
<!--          $(targetBox).show();-->
<!--        });-->
<!--      });-->
<!--    </script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"></script>
    <script th:inline="javascript">
      $("input:checkbox").on('click', function() {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if ($box.is(":checked")) {
          // the name of the box is retrieved using the .attr() method
          // as it is assumed and expected to be immutable
          var group = "input:checkbox[name='" + $box.attr("name") + "']";
          // the checked state of the group/box on the other hand will change
          // and the current value is retrieved using .prop() method
          $(group).prop("checked", false);
          $box.prop("checked", true);
        } else {
          $box.prop("checked", false);
        }
      });
    </script>
    <script>
      function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value !== $("#password").val()) {
          fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
          fieldConfirmPassword.setCustomValidity("");
        }
      }
    </script>
    <script src="../static/js/auth-theme-js/vendor.bundle.base.js" th:src="@{/js/auth-theme-js/vendor.bundle.base.js}"></script>
    <script src="../static/js/auth-theme-js/file-upload.js" th:src="@{/js/auth-theme-js/file-upload.js}"></script>
    <script src="../static/js/auth-theme-js/off-canvas.js" th:src="@{/js/auth-theme-js/off-canvas.js}"></script>
    <script src="../static/js/auth-theme-js/hoverable-collapse.js" th:src="@{/js/auth-theme-js/hoverable-collapse.js}"></script>
    <script src="../static/js/auth-theme-js/misc.js" th:src="@{/js/auth-theme-js/misc.js}"></script>
    <script src="../static/js/auth-theme-js/settings.js" th:src="@{/js/auth-theme-js/settings.js}"></script>
    <script src="../static/js/auth-theme-js/todolist.js" th:src="@{/js/auth-theme-js/todolist.js}"></script>
  </body>
</html>