<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Profile</title>
    <meta charset="UTF-8">
    <meta name="description" content="Photographer html template">
    <meta name="keywords" content="photographer, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="../static/assets/ph-theme-img/favicon.ico" th:href="@{/assets/ph-theme-img/favicon.ico}" rel="shortcut icon"/>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/ph-theme-css/bootstrap.min.css" th:href="@{/css/ph-theme-css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/ph-theme-css/magnific-popup.css" th:href="@{/css/ph-theme-css/magnific-popup.css}"/>
    <link rel="stylesheet" href="../static/css/ph-theme-css/slicknav.min.css" th:href="@{/css/ph-theme-css/slicknav.min.css}"/>
    <link rel="stylesheet" href="../static/css/ph-theme-css/owl.carousel.min.css" th:href="@{/css/ph-theme-css/owl.carousel.min.css}"/>
    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="../static/css/ph-theme-css/style.css" th:href="@{/css/ph-theme-css/style.css}"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header section  -->
<header th:replace="/fragments/navbar.html :: navbar"></header>
<div class="clearfix"></div>
<br/><br/>
<!-- About section  -->
<section class="about-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="hero-item portfolio-item set-bg" data-setbg="img/portfolio/2.jpg"
                     th:attr="data-setbg=${userToUpdate.urlAvatar}" >
                    <a href="user-update.html" class="hero-link" data-toggle="modal" th:attr="data-target='#defaultAvatarModal'">
                        <h2>Update Profile Picture</h2>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <form class="contact-form" th:object="${userToUpdate}"
                      th:action="@{/users/{id}/update(id=${userToUpdate.getId()})}"
                      enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" th:field="*{firstName}">
                            <label style="color: #c69500" th:errors="*{firstName}"></label>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" th:field="*{lastName}">
                            <label style="color: #c69500" th:errors="*{lastName}"></label>
                        </div>
                        <div class="col-lg-6">
                            <input type="password" th:field="*{currentPassword}"
                                   placeholder="Enter your current password" id="pass">
                        </div>
                        <div class="col-lg-6">
                            <label style="color: #c69500" th:errors="*{currentPassword}" for="pass"></label>
                        </div>
                        <div class="col-lg-6">
                            <input type="password" name="password" id="password" th:field="*{newPassword}"
                                   placeholder="Enter your new password">
                            <label style="color: #c69500" th:errors="*{newPassword}"></label>
                        </div>
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6">
                            <input type="password" placeholder="Confirm your new password" oninput="checkPasswordMatch(this);">
                        </div>
                        <div class="col-lg-4"></div>
                        <!--Default Gallery Modal-->
                        <div class="portfolio-modal modal fade" th:id="'defaultAvatarModal'" tabindex="-1" role="dialog"
                             aria-labelledby="#portfolioModal0Label" aria-hidden="true">
                            <div class="modal-dialog modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <div class="container">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-8">
                                                    <!-- Content -->
                                                    <!-- Choose Default -->
                                                    <h4>Choose Default</h4>
                                                    <ul class="row box">
                                                        <li th:each="avatar : ${defaultAvatars}">
                                                            <input type="checkbox" th:type="'checkbox'" th:field="*{urlAvatar}" th:value="${avatar.getContent()}"
                                                                   th:id="'cb'+ ${avatar.getId()}" id="cb1"/>
                                                            <label class="mylabel" th:class="'mylabel'" th:for="'cb'+ ${avatar.getId()}" for="cb1">
                                                                <img src="https://picsum.photos/seed/1/100" th:src="${avatar.getContent()}" alt="Default Avatar"/>
                                                            </label>
                                                            <label style="color: #c69500" th:errors="*{urlAvatar}"></label>
                                                        </li>
                                                    </ul>
                                                    <!-- Upload From PC -->
                                                    <div>
                                                        <h4>Upload</h4>
                                                        <input type="file" th:field="*{multipartAvatar}" >
                                                        <label style="color: #c69500" th:errors="*{multipartAvatar}"></label>
                                                    </div>
                                                    <!-- Content -->
                                                </div>
                                            </div>
                                            <button class="btn btn-primary" style="background: #212121;" type="button"
                                                    data-dismiss="modal" aria-label="Close">
                                                <i class="fa fa-check"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Default Gallery Modal-->
                        <div class="col-lg-12">
                            <button type="submit" class="site-btn">Save</button>
                            <a class="site-btn" data-toggle="modal" th:attr="data-target='#deleteAccountModal'" >
                                <span th:text="'Delete Account'" style="color: white"></span>
                            </a>
                        </div>
                    </div>
                </form>
                <div class="col-lg-12"></div>
                <!--Delete Account Modal-->
                <div class="portfolio-modal modal fade" th:id="'deleteAccountModal'" tabindex="-1" role="dialog"
                     aria-labelledby="#portfolioModal0Label" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <!-- Content -->
                                            <h2 class="portfolio-modal-title text-secondary mb-0"
                                                th:text="#{user.label.delete}">Delete message</h2>
                                            <br>
                                            <a class="site-btn" th:href="@{/users/{id}/delete(id=${userToUpdate.getId()})}">Delete Account</a>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" style="background: #212121;" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Delete Account Modal-->
            </div>
        </div>
    </div>
</section>
<!-- Search model -->
<div th:replace="/fragments/search.html :: search"></div>
<!--====== Javascripts & Jquery ======-->
<script>
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value !== $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"></script>
<script th:inline="javascript">
    $("input:checkbox").on('click', function() {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if ($box.is(":checked")) {
            // the name of the box is retrieved using the .attr() method
            // as it is assumed and expected to be immutable
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            // the checked state of the group/box on the other hand will change
            // and the current value is retrieved using .prop() method
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });
</script>
<script src="../static/js/ph-theme-js/jquery-3.2.1.min.js" th:src="@{/js/ph-theme-js/jquery-3.2.1.min.js}"></script>
<script src="../static/js/ph-theme-js/bootstrap.min.js" th:src="@{/js/ph-theme-js/bootstrap.min.js}"></script>
<script src="../static/js/ph-theme-js/jquery.slicknav.min.js" th:src="@{/js/ph-theme-js/jquery.slicknav.min.js}"></script>
<script src="../static/js/ph-theme-js/owl.carousel.min.js" th:src="@{/js/ph-theme-js/owl.carousel.min.js}"></script>
<script src="../static/js/ph-theme-js/jquery.magnific-popup.min.js" th:src="@{/js/ph-theme-js/jquery.magnific-popup.min.js}"></script>
<script src="../static/js/ph-theme-js/circle-progress.min.js" th:src="@{/js/ph-theme-js/circle-progress.min.js}"></script>
<script src="../static/js/ph-theme-js/mixitup.min.js" th:src="@{/js/ph-theme-js/mixitup.min.js}"></script>
<script src="../static/js/ph-theme-js/instafeed.min.js" th:src="@{/js/ph-theme-js/instafeed.min.js}"></script>
<script src="../static/js/ph-theme-js/masonry.pkgd.min.js" th:src="@{/js/ph-theme-js/masonry.pkgd.min.js}"></script>
<script src="../static/js/ph-theme-js/main.js" th:src="@{/js/ph-theme-js/main.js}"></script>

</body>
</html>
