<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<header th:fragment="navbar" class="header-section">
    <a href="index.html" class="site-logo" th:href="@{/}">
        <img src="../static/assets/ph-theme-img/logo.png" th:src="@{/assets/ph-theme-img/logo.png}" alt="logo"></a>
    <div class="header-controls">
        <button class="nav-switch-btn" style="color: black"><i class="fa fa-bars"></i></button>
        <button class="search-btn" style="color: black"><i class="fa fa-search"></i></button>
    </div>
    <ul class="main-menu">
        <li th:if="${isAuthenticated}">
            <a th:if="${authenticatedUser.getRole().getRole() == 'Organizer'}"
               href="contest-new.html" th:href="@{/contests/new}">New Contest</a>
            <a th:unless="${authenticatedUser.getRole().getRole() == 'Organizer'}"
               href="contest-new.html" th:href="@{/users/{id}/contests/(id=${authenticatedUser.getId()})}">My Contests</a>
        </li>
        <li th:if="${isAuthenticated}"><a href="contests.html" th:href="@{/contests}"> Explore </a></li>
        <li th:if="${isAuthenticated}">
            <a th:href="@{/users/{id}(id=${authenticatedUser.getId()})}" th:text="${authenticatedUser.username}"> Portfolio</a>
            <ul class="sub-menu">
                <li><a href="user-update.html" th:href="@{/users/{id}/update(id=${authenticatedUser.id})}">
                    <i class="fa fa-wrench"></i> &nbsp Update Profile</a></li>
                <li><a th:href="@{/auth/logout}">
                    <i class="fa fa-power-off"></i> &nbsp Log Out</a></li>
            </ul>
        </li>
        <li th:unless="${isAuthenticated}"><a href="login.html" th:href="@{/auth/login}">Login</a></li>
        <li th:unless="${isAuthenticated}"><a href="signup.html" th:href="@{/auth/signup}">Sign up</a></li>
        <li class="search-mobile">
            <button class="search-btn"><i class="fa fa-search"></i></button>
        </li>
    </ul>
</header>
</body>
</html>